<div style="text-align:center">
    <h1>
        Google speech to text using Angular
    </h1>
</div>

<div class="main">
    <textarea [(ngModel)]='textOutput' class="textarea" rows="6"
        placeholder="Start speaking by clicking on the mic icon"></textarea>
    <div class="mic-icon">
        <fa-icon icon="microphone" [class.icon-listening]="recognizing" title="{{tooltip}}" (click)="startRecording()">
        </fa-icon>
        <div *ngIf="recognizing" class="pulse-ring"></div>
    </div>
</div>