.nav {
    display: flex;
    min-height: 56px;
    background: #4c96d3;
    align-items: center;
  }

  .left {
    font-size: 20px;
    font-weight: 600;
    flex-basis: 40%;
    padding: 10px;
  }
  .middle {
    font-size: 20px;
    font-weight: 600;
  }

  a:hover {
      cursor: pointer;
      background-color: #bbdefb;
  }

  .item {
    font-size: 20px;
    padding: 16px;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: black;
  }