.main {
    margin: 0 auto;
    width: 50%;
}

.textarea {
    padding: 13px 15px;
    border-radius: 8px;
    border: 2px solid #1a73e8;
    outline: 0;
    width: 100%;
}

.mic-icon {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.mic-icon fa-icon {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.icon-listening {
    color: red;
}

// .mic-icon fa-icon:hover {
//     background-color: #d4d4ff;
//     border-radius: 50%;
// }

.pulse-ring {
    position: absolute;
    top: 4px;
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #d4d4ff;
    border-radius: 50%;
    animation: pulsate infinite 2s;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
